<div class="row">
    <div class="col-md-12">
        <h3>
            Dashboard
        </h3>
        <hr />
        <a routerLink="/app/global-goals">Global Goals</a> /
        <a routerLink="/app/additional-goals">Additional Goals</a> /
        <a routerLink="/app/goals-priority">Goals Priority</a> /
        <a routerLink="/app/sponsors">Sponsors</a> /
        Dashboard
        <hr />
        <p>
            Here, you can see the results, trending ideas and all.
        </p>
        <hr />
        <resource-pool-editor [config]="resourcePoolKey"></resource-pool-editor>
    </div>
</div>
