<div class="row">
    <div class="col-md-12">
        <h3>
            Sponsors
        </h3>
        <hr />
        <a routerLink="/app/global-goals">Global Goals</a> /
        <a routerLink="/app/additional-goals">Additional Goals</a> /
        <a routerLink="/app/goals-priority">Goals Priority</a> /
        Sponsors /
        <a routerLink="/app/dashboard">Dashboard</a>
        <hr />
        <p>
            Special thanks to all our sponsors that allows to make this happen!<br />
            Here are this month's generous organizations.
        </p>
        <hr />
        <div class="row">
            <div class="col-md-6" *ngFor="let item of sponsors">
                <div class="row goalsRow">
                    <div class="col-md-12 text-center g-mt-20">
                        <i class="fa fa-3x fa-trophy"></i>
                        <br />
                        <strong>
                            {{ item.Name }}
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="text-center">
            <button (click)="navigateToDashboard()" class="btn btn-lg btn-default">
                Dashboard <i class="fa fa-lg fa-caret-right"></i>
            </button>
        </div>
    </div>
</div>
