<div class="body">
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a routerLink="/" class="navbar-left">
                    <img src="/app/images/global-goals-fund/SDG_Wheel_Transparent-01.png" class="navbar-brand-image">
                </a>
                <button (click)="navigate('/')" type="button" class="btn-link navbar-brand">
                    Global Goals Fund
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul *ngIf="currentUser" class="nav navbar-nav navbar-text navbar-right">
                    <li [hidden]="!currentUser.isAuthenticated()">
                        <button (click)="logout()" type="button" class="btn-link">
                            Logout
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">

        <div class="bs-callout bs-callout-info" [hidden]="!displayInfoBox">
            <p>
                An interactive crowdfunding platform for projects/ideas about Sustainable Developer Goals (SDGs).
            </p>
            <p>
                By using this platform, the users can vote for the importance of three categories:
            </p>
            <ul>
                <li><strong>SDG</strong>: Which of the SDGs should be focused and solved first?</li>
                <li><strong>Legal Entity</strong>: Business model of the project can be "non-profit" / "for-profit". Which type of legal entity should get more funding?</li>
                <li><strong>License</strong>: If the project is about developing a software, which type of license should get more funding?</li>
            </ul>
            <p>
                Additionally, users can also choose the importance of each category.
            </p>
            <p>
                Based on these results, the platform distributes the funds to all ideas.
            </p>
            <hr />
            <p>
                Global Goals Fund is a custom prototype that we developed and presented at United Nation's <a href="http://connect2effect.com">Connect2Effect Hackathon</a>.
            </p>
            <p>
                You can visit our original project here: <a href="https://wealth.forcrowd.org">Wealth Economy</a>
            </p>
            <p>
                If you have any questions or would like to have more information, please feel free to contact us.
            </p>
            <div class="text-center g-mt-20">
                <button (click)="hideInfoBox()" type="button" class="btn btn-default">Close</button>
            </div>
        </div>

        <router-outlet></router-outlet>

        <toaster-container [toasterconfig]="toasterConfig"></toaster-container>

    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <hr />
                    Copyright Notice: Global Goals wheel & icons belong to United Nations' <a href="http://www.un.org/sustainabledevelopment/news/communications-material/" target="_blank">Sustainable Development Goals</a> program.
                    <hr />
                    <div class="contacts pull-left">
                        <a href="http://forcrowd.org" target="_blank">
                            <img src="/app/images/forCrowd_Logo_142x30.jpg?v=0.65.0" alt="Logo" />
                        </a>
                        <a href="https://twitter.com/forCrowd" target="_blank" class="g-ml-40">
                            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                        </a>
                        <a href="https://github.com/forCrowd/GlobalGoalsFund" target="_blank" class="g-ml-20">
                            <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                        </a>
                        <a href="mailto:contact@forcrowd.org" target="_blank" class="g-ml-20">
                            <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="pull-right">
                        <small>Version: {{ appVersion }}</small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
